/apps/integrity checker/build/
/apps/integrity checker/dist/
/Drivers/Keyboard/build/
/Drivers/Keyboard/dist/
/DathxLib/DathxLib/dist/
/DathxLib/DathxLib/build/
/apps/SystemApp/build/
/apps/SystemApp/dist/
/drivers/Keyboard/build/
/drivers/mouse/build/
/DathxLib/build/
/DathxLib/dist/
/drivers/w/Keyboard/dist/
/drivers/w/Keyboard/build/
/drivers/Keyboard Driver/build/
/drivers/Keyboard Driver/dist/
/apps/System App/build/
/apps/System App/dist/